@font-face {
    font-family: "AgaveNerdFontPropo";
    src: url("/usr/share/fonts/TTF/AgaveNerdFontPropo-Regular.ttf");
}
*{
  font-family:"AgaveNerdFontPropo";
  background:black;
  margin:0;
  box-sizing:border-box;
}
nav{
  height:50px;
  margin-bottom:20px;
  font-size:20px;
}
.tile{
  border:2px solid #2DA457;
  width:fit-content;
  height:150px;
  padding:10px;
  background: rgba(0,0,0,0.5);
  color:#2DA457;
}
.tile button{
  color:#2DA457;
}
input[type=range]{
  -webkit-appearance:none;
  width:250px;
}
input[type=range]::-webkit-slider-runnable-track{
  background:#2DA457;
  height:3px;
  width:100%;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance:none;
  height:15px;
  width:9px;
  border:2px solid;
  border-top-color:rgb(55, 200, 106);
  border-right-color:rgb(35, 128, 68);
  border-bottom-color:rgb(35, 128, 68);
  border-left-color:rgb(55, 200, 106);
  background:#2DA457;
  margin-top:-6px;
}
