@font-face {
    font-family: "AgaveNerdFontPropo";
    src: url("/usr/share/fonts/TTF/AgaveNerdFontPropo-Regular.ttf");
}
*{
  font-family:"AgaveNerdFontPropo";
  background:black;
  margin:0;
  box-sizing:border-box;
}
nav{
  height:50px;
  margin-bottom:20px;
  font-size:20px;
}
.tile{
  border:2px solid #2DA457;
  width:fit-content;
  height:150px;
  padding:10px;
  background: rgba(0,0,0,0.5);
  color:#2DA457;
}
.tile button{
  color:#2DA457;
}
