@font-face {
    font-family: "AgaveNerdFontPropo";
    src: url("AgaveNerdFontPropo-Regular.ttf");
}
:root{
  --main-color: rgb(45, 164, 87);
  --upper-border-color:rgb(55, 200, 106);
  --lower-border-color:rgb(23, 85, 45);
}
*{
  font-family:"AgaveNerdFontPropo";
  font-size:15px;
  margin:0;
  box-sizing:border-box;
}
nav{
  height:50px;
  margin-bottom:20px;
  font-size:20px;
}
body{
  background:black;
}
main{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:10px;
  margin:0 100px;
  width:100%;
}
.tile{
  border:2px solid var(--main-color);
  height:170px;
  padding:10px;
  color:var(--main-color);
  #title{
    text-align:center;
    width:100%;
    border-bottom:2px solid var(--main-color);
    margin-bottom:5px;
    font-weight:bold;
    letter-spacing:5px;
    font-size:18px;
  }
}
.tile button{
  color:var(--main-color);
  background:black;
}
input[type=range]{
  -webkit-appearance:none;
  width:250px;
  background:transparent;
}
input[type=range]::-webkit-slider-runnable-track,input[type=range]::-moz-range-track{
  background:var(--main-color);
  height:3px;
  width:100%;
}
input[type=range]::-webkit-slider-thumb,input[type=range]::-moz-range-thumb{
  -webkit-appearance:none;
  height:15px;
  width:9px;
  border:2px solid;
  border-top-color:var(--upper-border-color);
  border-right-color:var(--lower-border-color);
  border-bottom-color:var(--lower-border-color);
  border-left-color:var(--upper-border-color);
  background:var(--main-color);
  margin-top:-6px;
}
#info{
  font-size:20px;
}
button{
  min-width:25px;
  border-top-color:var(--upper-border-color);
  border-right-color:var(--lower-border-color);
  border-bottom-color:var(--lower-border-color);
  border-left-color:var(--upper-border-color);
}
select{
  background:black;
  color:var(--main-color); 
  border-top-color:var(--upper-border-color);
  border-right-color:var(--lower-border-color);
  border-bottom-color:var(--lower-border-color);
  border-left-color:var(--upper-border-color);
}
::picker(select){
  background:red;
}
input{
  background:black;
  color:var(--main-color);
  border-top-color:var(--upper-border-color);
  border-right-color:var(--lower-border-color);
  border-bottom-color:var(--lower-border-color);
  border-left-color:var(--upper-border-color);
}
#bar{
	width:250px;
	background:gray;
	color:black;
	position:absolute;
	right:3px;
	#progress{
		background:var(--main-color);
	}
}
