@font-face {
    font-family: "AgaveNerdFontPropo";
    src: url("/usr/share/fonts/TTF/AgaveNerdFontPropo-Regular.ttf");
}
@import("/usr/share/fonts/TTF/AgaveNerdFontPropo-Regular.ttf");
*{
  font-family:"JetBrainsMonoNL Nerd Font Propo";
  font-size:15px;
  background:black;
  margin:0;
  box-sizing:border-box;
}
nav{
  height:50px;
  margin-bottom:20px;
  font-size:20px;
}
.tile{
  border:2px solid #2DA457;
  flex-grow:1;
  width:fit-content;
  height:170px;
  padding:10px;
  background: rgba(0,0,0,0.5);
  color:#2DA457;
  #title{
    text-align:center;
    width:100%;
    border-bottom:2px solid #2DA457;
    margin-bottom:5px;
    font-weight:bold;
    letter-spacing:5px;
  }
}
.tile button{
  color:#2DA457;
}
input[type=range]{
  -webkit-appearance:none;
  width:250px;
}
input[type=range]::-webkit-slider-runnable-track{
  background:#2DA457;
  height:3px;
  width:100%;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance:none;
  height:15px;
  width:9px;
  border:2px solid;
  border-top-color:rgb(55, 200, 106);
  border-right-color:rgb(35, 128, 68);
  border-bottom-color:rgb(35, 128, 68);
  border-left-color:rgb(55, 200, 106);
  background:#2DA457;
  margin-top:-6px;
}
main{
  display:flex;
  flex-direction:row;
  gap:10px;
  margin:0 100px;
}
